<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- The navigation bar at the top right of our screen -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Mission Hill Community</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.ejs">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="post.ejs">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.ejs">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="rest.ejs">Restaurants</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Our page header -->
    <header class="masthead" style="background-image: url('assets/img/mhill.jpg')">
        <div class="header-text">
            <div class="page-heading">
                <h1>About Us!</h1>
                <span class="subheading">A litte bit about the creators!</span>
            </div>
        </div>
    </header>

    <!--Start of the main content of the About Us page-->
    <main>

        <div class="main-text co-md-6">
            <p>We are three students at Wentworth Institute of Technology.</p>
            <hr>
            <h2>Kyle Marques</h2>
            <p>A Computer Science Junior enrolled at WIT.</p>
            <hr>
            <h2>Kyle Duffy</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, nostrum voluptate eveniet nihil in natus qui praesentium temporibus alias adipisci non eum, incidunt dolores unde, laudantium facilis. Labore, nostrum consequatur?
            </p>
            <hr>
            <h2>Sean Simons</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti laudantium in harum minus quis inventore eius! Delectus earum aspernatur modi atque ducimus recusandae, consequuntur inventore quia officia nobis placeat alias?
            </p>
        </div>
    </main>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>